@font-face {
  font-family: "AvertaStd";
  font-style: normal;
  src: url("https://static.uacdn.net/prod/fonts/avertastd-regular.woff")
      format("woff"),
    url("https://static.uacdn.net/prod/fonts/avertastd-regular.otf")
      format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "AvertaStd";
  font-weight: bold;
  src: url("https://static.uacdn.net/prod/fonts/avertastd-bold.woff")
      format("woff"),
    url("https://static.uacdn.net/prod/fonts/avertastd-bold.otf")
      format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "AvertaStd";
  font-weight: 600;
  src: url("https://static.uacdn.net/prod/fonts/avertastd-semibold.woff")
      format("woff"),
    url("https://static.uacdn.net/prod/fonts/avertastd-semibold.otf")
      format("opentype");
  font-display: swap;
}

* {
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  word-break: break-word;
  outline: none;
  text-decoration: none;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: AvertaStd, -apple-system, BlinkMacSystemFont, sans-serif !important;
  overscroll-behavior: none;
}
